$device_l: 991px;
$device_m: 767px;

$button_bacground: rgb(197, 116, 11);
$button_bacground_hover: rgba(226, 132, 8, .75);

$white: white;
$blue: rgb(86, 119, 161);
$black: black;
$grey: grey;
$red: red;
$background_input: rgba(152, 204, 224, .644);