@import "_reset";
@import "_popup_shopping_cart";
@import "_vars";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap"); //font-family: 'Poppins', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"); //font-family: 'Dancing Script', cursive;

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 15px;

    @media (min-width: $device_m) {
        padding: 15px 60px;
    }

    @media (min-width: $device_l) {
        padding: 35px 10%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    header {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo btn"
            "navigation navigation";
        grid-gap: 10px;
        z-index: 99;
        color: $black;

        nav {
            grid-area: navigation;
            justify-self: center;

            ul {
                display: flex;
                
                li {
                    a {
                        color: $black;
                        text-decoration: none;
                        font-size: 20px;
                        padding: 5px 12px;
                        display: inline-block;

                        &:hover {
                            box-shadow: 0 1px 6px $black;
                            border-radius: 3px;
                        }

                        @media (min-width: $device_l) {
                            font-size: 22px;
                        }
                    }
                }
            }

            @media (min-width: $device_m) {
                justify-self: start;
                margin-left: -12px;
            }

            @media (min-width: $device_l) {
                align-self: center;
            }
        }

        h1 {
            grid-area: logo;
            font-family: "Dancing Script", cursive;
            text-shadow: 1px 1px 6px $grey;

            a {
                color: $black;
                text-decoration: none;
                font-size: 36px;
                letter-spacing: 4px;
                text-transform: lowercase;
                padding-bottom: 6px;
                display: inline-block;

                &:hover {
                    box-shadow: none;
                }

                @media (min-width: $device_m) {
                    font-size: 51px;
                }
            }

            @media (min-width: $device_m) {
                justify-self: center;
            }

            @media (min-width: $device_l) {
                justify-self: start;
                align-self: end;
            }
        }

        .shopping_cart {
            grid-area: btn;
            color: $black;
            font-size: 26px;
            align-self: last baseline;
            justify-self: end;
            display: block;
            padding: 5px 10px;
            margin-right: -7px;
            position: relative;

            &:hover {
                box-shadow: 0 1px 6px $black;
                border-radius: 3px;
            }

            @media (min-width: $device_l) {
                align-self: center;
            }
        }

        @media (min-width: $device_m) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template:
                "navigation navigation btn"
                "logo logo logo";
        }

        @media (min-width: $device_l) {
            grid-template-columns: 307px 1fr 50px;
            grid-template: "navigation logo btn";
        }
    }

    main {
        .history {
            min-width: 100%;
            padding: 30px 15px;
            background-color: $background_input;
            margin: 0 -15px;

            span {
                color: $blue;
                
                a {
                    text-decoration: none;
                    color: $blue;
                    font-size: 18px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media (min-width: $device_m) {
                margin: 0 -60px;
                padding: 30px 60px;
            }

            @media (min-width: $device_l) {
                margin: 0 -15%;
                padding: 30px 15%;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            padding: 50px 10%;

            h1 {
                font-size: 28px;
                padding-bottom: 20px;

                &::before {
                    content: "/";
                    font-size: 20px;
                    padding-right: 5px;
                    font-weight: 700;
                    color: $button_bacground;
                }
            }

            p {
                font-size: 18px;
                color: $grey;
                line-height: 2rem;
            }
        }
    }
}
